<!DOCTYPE HTML>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<html lang="{{ LANGUAGE_CODE }}">
     <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% translate 'Task manager' %} Hexlet</title>
    </head>
 <body class="d-flex flex-column min-vh-100">
 

	{% include 'header.html' %}

 {% autoescape off %}
   {% bootstrap_messages %}
 {% endautoescape %}
<div class="container wrapper flex-grow-1"> 
{% block content %}
{% endblock content %}
</div>

    {% include 'footer.html' %}

     </body>
</html>