{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<h1 class="my-4">{{ title }} </h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Username' %}</th>
            <th>{% translate 'Full name' %}</th>
            <th>{% translate 'Created at' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
	{% if users %}
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.created_at|date:'d.m.Y H:i' }}</td>
            <td>
			    <a href="{% url 'update' pk=user.pk %}">{% translate 'Update' %}</a>
                <br>
                <a href="{% url 'delete' pk=user.pk %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
	{% endif %}
    </tbody>
</table>
{% endblock content %}