{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container wrapper flex-grow-1">
<h1 class="my-4">{% translate 'Tasks' %}</h1>
<a class="btn btn-primary mb-3" href="{% url 'create task' %}" role="button">{% translate 'Create task' %}</a>

{% include 'filter_form.html' %}

<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Status' %}</th>
        <th>{% translate 'Author' %}</th>
        <th>{% translate 'Executor' %}</th>
        <th>{% translate 'Created at' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.pk }}</td>
          <td><a href="{% url 'detail task' pk=task.pk %}">{{ task.name }}</a></td>
          <td>{{ task.status }}</td>
          <td>{{ task.author }}</td>
          <td>{% firstof task.executor " " %}</td>
          <td>{{ task.created_at|date:'d.m.Y H:i' }}</td>
          <td>
            <a href="{% url 'update task' pk=task.pk %}">{% translate 'Update' %}</a>
            <br>
            <a href="{% url 'delete task' pk=task.pk %}">{% translate 'Delete' %}</a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}